@import '../../assets/styles.scss';

.login-view{
  background-color: desaturate($main, 33%);
}


.login-form{
  border-radius: 8px;
  .form-heading{
    color: $main;
    font-size: 1.7rem;
  }
  label{
    font-size: 12px;
    color: var(--gray2);
  }
  input{
    font-size: 12px;
    &:focus{
      outline: none;
      box-shadow: inset 0 1px 2px rgb(203 203 210 / 20%), 0 0 4px rgb(121 88 159 / 30%);
      border: 1px solid $main; 
    }
    &::placeholder{
      color: var(--gray3);
    }
  }
  .button{
    background-color: $main;
    border: none;
    transition: all 300ms;
    font-size: 1rem;
    &:focus{
      @extend %buttonsShared;
    }
    &:hover{
      background-color: saturate($main, 50%);
      transform: scale(1.01);
      outline: none !important;
      border: none !important;
    }
    &:active{
      @extend %buttonsShared;
    }
  }
  .sign-up{
    font-size: 1rem;
    font-weight: light;
  }
  .link{
    color: $main;
  }
  .err-msg{
    font-size: 12px;
  }
}

