$main: #7B0708;
$gray1: #272423ff;
$gray2: #909090ff;
$gray3: #acacacff;
$gray6: #efefefff;
$gray7: #f2f2f2ff;
$gray8: #fafafaff;

%buttonsShared {
  background-color: saturate($main, 50%) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.action {
  transition: all 300ms;
  text-decoration: none !important;
  &:hover{
    transform: scale(1.05);
    text-decoration: none !important;
    cursor: pointer;
  }
}

.hero{
  height: 33vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/img/denise-jans-Lq6rcifGjOU-unsplash.jpg');
  background-position: center;
  background-size: cover;
}